.infiniteAnimation {
    animation: infiniteScroll 50s linear infinite;
}

@keyframes infiniteScroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* write animation for sidebar drawer */
@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.sidebar-drawer {
    animation: slideIn 0.3s forwards;
    animation-duration: 300ms;
}

.sidebar-drawer-exit {
    animation: slideOut 0.3s forwards;
    animation-duration: 300ms;
}

.left-sidebar {
    scrollbar-width: thin;
    scrollbar-color: #555 #333;
}

.left-sidebar::-webkit-scrollbar {
    width: 8px;
}

.left-sidebar::-webkit-scrollbar-track {
    background: #333;
}

.left-sidebar::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
}

.loader {
  width: 24px;
  height: 24px;
  background: #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 3px;
  top: 5px;
  width: 6px;
  height: 6px;
  color: #FF3D00;
  background: currentColor;
  border-radius: 50%;
  box-shadow: 12.5px 1px, 5px 11px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
